body {
    background-color: #95BDDc;
}

.tableHeading {
    color: #343F3E;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

.tableText {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.dateText {
    color: #343F3E;
}

.tagText {
    color: #343F3E;
}

.row {
    margin-top: 3%;
}

.genericText {
    color: #343F3E;
    font-family: 'Open Sans', sans-serif;
}

#cloud {
    max-width: 90%;
    margin-bottom: 20%;
}

#deleteIcon, #updateIcon {
    color: white;
    font-size: large;
}

#deleteIcon:hover, #updateIcon:hover {
    color: #343F3E;
}

#addDreamButton {
    text-align: center;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    color:#343F3E;
}

#addDreamButton:hover {
    background-color: #343F3E;
    color: white;
}