.row {
    margin-top: 2%;
}

.edit {
    margin-right: 20px;
}

#sidebar {
    margin-top: 1%;
}

 /* body {
    background-image: url('https://t4.ftcdn.net/jpg/02/95/37/45/360_F_295374506_rm6S4oJyI9DSm6li2CliXGTs3poENFS5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */

/* body {
    background-color;
} */


/* label, span, div, th, td {
    color: white;
} */

/* tr:hover {
    color: white;
} */