body {
    background-color: #95BDDc;
}

.tableHeading {
    color: #02334a;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

.tableText {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.dateText {
    color: #02334a;
}

.tagText {
    color: #02334a;
}

.row {
    margin-top: 3%;
}

.genericText {
    color: #02334a;
    font-family: 'Open Sans', sans-serif;
}

.modal-body, .modal-header {
    background-color: #343F3E;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#submit-dream, #submit-updates {
    background-color: white;
    color: #02334a;
}

#submit-dream:hover, #submit-updates:hover {
    background-color: white;
    color: #02334a;
}

#cloud {
    max-width: 90%;
    margin-bottom: 20%;
}

#cloudImage {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;    
    background-position:bottom;
}

#deleteIcon {
    color: #02334a;
    font-size: large;
}

#updateIcon {
    color: white;
    font-size: large;
}

#updateIcon:hover {
    color: #02334a;
}

#deleteIcon:hover {
    color: white;
}

#addDreamButton {
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
    color:#343F3E;
}

#addDreamButton:hover {
    background-color: #02334a;
    color: white;
}